.footer {
  background-color: #333;
  text-align: center;
}

.social-icons img {
  width: 30px; /* Ajusta el tamaño según tus preferencias */
  height: 30px; /* Ajusta el tamaño según tus preferencias */
  margin: 0 10px; /* Ajusta el espacio entre las imágenes */
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
  